html,
body,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  height: 700px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px; }
  @media (max-width: 879px) {
    .header {
      height: 560px; } }
  .header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin: 0 auto; }
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 48px; }
  .header__top {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    left: 0;
    top: 24px; }
    @media (max-width: 879px) {
      .header__top {
        right: 23px;
        left: 23px; } }
  .header__phone, .header__link {
    color: #fff; }
  @media (max-width: 879px) {
    .header__phone {
      display: none; } }
  .header__btn {
    display: none;
    width: 18px;
    height: 12px;
    background-image: url(../images/mdi_menu.svg); }
    @media (max-width: 879px) {
      .header__btn {
        display: inline-block;
        z-index: 1; } }
  .header__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 879px) {
      .header__action {
        display: none; } }
  .header__link {
    position: relative;
    padding: 8px 0;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    text-transform: uppercase; }
    .header__link:hover {
      color: #9fadc2; }
    .header__link::after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #fff; }
  .header__title {
    position: absolute;
    max-width: 328px;
    bottom: 165px;
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px; }
    @media (max-width: 879px) {
      .header__title {
        top: 407px;
        letter-spacing: -1px;
        font-size: 46px;
        line-height: 40px; } }
    .header__title::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 2px;
      top: -16px;
      border-radius: 2px;
      background-color: #fff; }
  .header__phone-pic {
    display: none;
    width: 18px;
    height: 18px;
    background-image: url(../images/phone-pic.svg); }
    @media (max-width: 879px) {
      .header__phone-pic {
        display: block; } }
  .header__toggler-btn {
    display: none; }
    @media (max-width: 879px) {
      .header__toggler-btn:checked + .nav {
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; } }

.nav {
  color: #fff;
  text-transform: uppercase; }
  @media screen and (max-width: 879px) {
    .nav {
      display: none;
      -webkit-box-align: left;
          -ms-flex-align: left;
              align-items: left;
      background-color: #0075ff; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none; }
    @media screen and (max-width: 879px) {
      .nav__list {
        font-size: 22px;
        line-height: 1.5em;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: left;
            -ms-flex-align: left;
                align-items: left;
        margin-top: 120px; }
        .nav__list::before {
          position: absolute;
          content: "+1 234 555-55-55";
          color: white;
          font-size: 12px;
          line-height: 16px;
          padding-left: 21px;
          top: 460px; }
        .nav__list::after {
          content: "CALL TO ORDER";
          position: absolute;
          color: white;
          font-size: 12px;
          line-height: 16px;
          padding-left: 21px;
          top: 492px; } }
  .nav__item {
    padding: 8px 24px; }
    .nav__item_active {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 8px; }
  .nav__link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link:hover {
      color: #9fadc2; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1; }

.section {
  margin-top: 104px;
  margin-bottom: 152px; }
  @media screen and (max-width: 879px) {
    .section .section {
      margin-top: 0; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__title--info {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    color: #000;
    margin: 0; }
  .info__text {
    max-width: 500px; }
    .info__text > :last-child {
      margin-bottom: 0; }

@media screen and (max-width: 879px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .info__title--info {
      font-size: 36px;
      line-height: 36px;
      margin-top: 64px;
      margin-bottom: 48px; }
    .info__content,
    .info .sub-title,
    .info .info__title--info {
      text-align: center; } }

.heading {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: #000;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto; }
  .heading__crown--gallery, .heading__crown--contact, .heading__crown--consultation, .heading__crown--testimonials {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    width: 23px;
    height: 16px;
    margin: auto;
    margin-top: 7px;
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat; }
  .heading__crown--gallery {
    margin-bottom: 38px; }
  .heading__crown--contact, .heading__crown--consultation, .heading__crown--testimonials {
    margin-bottom: 70px; }

@media screen and (max-width: 879px) {
  .heading__crown--gallery,
  .heading__crown--consultation,
  .heading__crown--testimonials,
  .heading__crown--contact {
    margin-bottom: 30px; } }

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; }
  .photos__img {
    width: 100%;
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }

.photos--wide-left {
  grid-template-columns: 2fr 1fr; }

.photos--wide-right {
  grid-template-columns: 1fr 2fr; }

@media screen and (max-width: 330px) {
  .photos,
  .photos--wide-left,
  .photos--wide-right {
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .photos__img,
    .photos--wide-left__img,
    .photos--wide-right__img {
      height: 131px;
      width: 131px; } }

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  color: #000; }

.blue-title {
  color: #0075ff; }

.sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.gallery__caption {
  margin-top: 24px;
  margin-bottom: 40px; }

.gallery__button {
  margin: 40px auto 0; }

.gallery__button {
  display: block;
  padding: 21px 65px;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  color: #0075ff;
  background-color: #fff;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none; }
  .gallery__button:hover {
    color: #fff;
    background-color: #0075ff;
    border: 2px solid #0075ff; }
  .gallery__button:focus {
    border: 2px solid #0075ff; }

.form__button {
  display: block;
  width: 100%;
  padding: 21px 25px;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
  background-color: #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  border: 2px solid #0075ff;
  outline: none; }
  .form__button:hover {
    color: #0075ff;
    background-color: #fff;
    border: 2px solid #0075ff;
    outline: 0; }
  .form__button:focus {
    border: 2px solid #0075ff; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 412px; }
  .consultation__form {
    width: 413px; }

@media screen and (max-width: 879px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text, .consultation__form {
      width: 100%;
      text-align: center; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    margin-bottom: 16px; }

.input {
  width: calc(100% - 17px);
  height: 48px;
  padding-left: 17px;
  font-size: 14px;
  line-height: 14px;
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  outline: none; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input:focus {
    border: 1px solid #0075ff; }

.input__textarea {
  height: 144px;
  padding-top: 17px;
  margin-bottom: 32px;
  resize: none; }
  .input__textarea::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input__textarea::-moz-placeholder {
    color: #b9c1ce; }
  .input__textarea:-ms-input-placeholder {
    color: #b9c1ce; }
  .input__textarea::-ms-input-placeholder {
    color: #b9c1ce; }
  .input__textarea::placeholder {
    color: #b9c1ce; }
  .input__textarea:focus {
    border: 1px solid #0075ff; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-gap: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 879px) {
  .testimonials {
    grid-template-columns: 280px;
    grid-gap: 48px; } }

.person {
  text-align: center; }
  .person__photo {
    width: 153px;
    height: 153px; }
  .person__title {
    margin-top: 28px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff; }
  .person__position {
    color: #9fadc2;
    margin-top: 2px;
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 27px; }
  .person__text {
    margin-top: 2px; }

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 108px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__title {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-top: 0;
    margin-bottom: 4px; }
  .contact__text {
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e;
    margin-top: 4px;
    margin-bottom: 24px; }
  .contact__form {
    width: 413px; }

@media screen and (max-width: 879px) {
  .contact {
    grid-template-columns: 280px;
    grid-gap: 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact__form, .contact__item {
      width: 100%; }
    .contact__form {
      margin-top: 8px; } }

.footer {
  position: relative;
  height: 360px;
  background-image: url("../images//footer.jpg");
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 40px; }

body {
  background: white; }

a {
  color: #0075ff;
  font-weight: bold;
  text-decoration: none;
  border: 0;
  outline: none; }
  a.nav__link:focus {
    border: 2px solid #fff;
    border-radius: 4px; }
  a:focus {
    border: 1px solid #0075ff;
    border-radius: 4px; }

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto; }

.main {
  margin-top: 104px; }

@media screen and (max-width: 879px) {
  .main {
    margin-top: 0;
    padding: 20px; } }

/*# sourceMappingURL=main.css.map */
